.node {
    padding: 3px;
}

.child {
    margin-left: 20px;
}

.selected {
    background-color: #DDDDDD;
    font-weight: bold;
    border: 1px;
    border-color: #BBBBBB;
    border-radius: 3px;
}
