<div class="people-list">
	<div class="list-group">
		<a class="list-group-item" *ngFor="#person of people">
			<img class="avatar" [src]="person.avatar">
			
			<div class="group-1">
				<div class="group-2">
					<div class="group-name-job">
						<div class="fullName">{{ person.fullName }},</div>
						<div class="job">{{ person.job }}</div>
					</div>
					
					<div class="birth-date"><i class="fa fa-birthday-cake"></i> {{ person.birthDate }}</div>
				</div>
				
				<i class="fa fa-star" [class.favourite]="person.isFavourite"></i>
			</div>
		</a>
	</div>
</div>