<h1>Kiddyweb Finance - Chercher Personnes</h1>

<div class="leftPanel">
	<filter-date 
		(onTypeChanged)="typeChanged($event)"
		(onDateChanged)="dateChanged($event)">
	</filter-date>
	
	<filter-name
		[suggestions]="suggestionsType"
		(onSearchRequested)="search($event)"
		(onAdvancedSearchRequested)="searchAdv($event)">
	</filter-name>
	<br>
	
	<tab-container
		[filter]="applyFilter" 
		(onTabChanged)="tabChanged($event)"
		(onItemSelected)="showDetail($event)">
	</tab-container>
</div>

<div class="rigthPanel">
	<panel-detail [item]="selectedItem" (onChildUpdated)="childUpdated($event)"></panel-detail>
</div> 
