.panel-content {
	padding: 30px 10px 10px 30px
}

.group {
	display: inline-block;
	margin-right: 0.5em;
}

.group div { 
	display: inline-block;
	vertical-align: top;
}
	
.group label {
	display: block;
}

.custom-button {
	text-decoration: none;
	padding: 4px 4px 4px 4px;
	border-style: outset;
	border-width: thin;
	text-align: center;
	vertical-align: middle;
}
