<div class="filtered-content">
	<div *ngIf="child.payingParent">
		<div><b>Parent Payeur:</b></div>
		<div class="group">
			<label>Nom:</label> 
			<input type="text" [(ngModel)]="child.payingParent.lastName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Prénom:</label> 
			<input type="text" [(ngModel)]="child.payingParent.firstName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Sexe:</label> 	
			<select [(ngModel)]="child.payingParent.gender" [disabled]="!isEditMode">
				<option value=""></option>
				<option value="M">M</option>
				<option value="F">F</option>
			</select>
		</div>
		<div class="group">
			<label>Per-Id:</label> 
			<input type="text" [(ngModel)]="child.payingParent.perId" [disabled]="!isEditMode">
		</div>
	</div>
	<br />
	<div *ngIf="child.secondParent">
		<div><b>Deuxième Parent:</b></div>
		<div class="group">
			<label>Nom:</label> 
			<input type="text" [(ngModel)]="child.secondParent.lastName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Prénom:</label> 
			<input type="text" [(ngModel)]="child.secondParent.firstName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Sexe:</label> 	
			<select [(ngModel)]="child.secondParent.gender" [disabled]="!isEditMode">
				<option value=""></option>
				<option value="M">M</option>
				<option value="F">F</option>
			</select>
		</div>
		<div class="group">
			<label>Per-Id:</label> 
			<input type="text" [(ngModel)]="child.secondParent.perId" [disabled]="!isEditMode">
		</div>
	</div>
</div>
<br />
<div>
	<a href='#' (click)="edit()" class='glyphicon glyphicon-pencil custom-button' *ngIf="!isEditMode">&nbsp;Editer</a>
	<a href='#' (click)="delete()" class='glyphicon glyphicon glyphicon-trash custom-button' *ngIf="!isEditMode">&nbsp;Supprimer</a>
	<a href='#' (click)="save()" class='glyphicon glyphicon-ok custom-button' *ngIf="isEditMode">&nbsp;Sauvegarder</a>
	<a href='#' (click)="cancel()" class='glyphicon glyphicon-remove custom-button' *ngIf="isEditMode">&nbsp;Annuler</a>
</div>

<div id="dialog_confirm_1" title="Supprimer fiche?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Êtes-vous sûr de vouloir supprimer ce dossier?</p>
</div>