<h1>Children</h1>

<input #textf type='text' [(ngModel)]='filterText' (keyup)='ngOnChange(textf.value)' class='fa fa-filter'>

<ul>
    <li *ngFor='#child of children'><a [routerLink]="['Child', {id:child.id}]"> {{child.name}} {{child.surname}}</a> </li>
</ul>
