<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#group-det-1" aria-controls="group-det-1" role="tab" data-toggle="tab" class='glyphicon glyphicon-file'>&nbsp;Caractéristiques</a>
		</li>
		<li role="presentation">
			<a href="#group-det-2" aria-controls="group-det-2" role="tab" data-toggle="tab" class='glyphicon glyphicon-home'>&nbsp;Ménage</a>
		</li>
		<li role="presentation">
			<a href="#group-det-3" aria-controls="group-det-3" role="tab" data-toggle="tab" class='glyphicon glyphicon-euro'>&nbsp;Retenues</a>
		</li>
		<li role="presentation">
			<a href="#group-det-4" aria-controls="group-det-4" role="tab" data-toggle="tab" class='glyphicon glyphicon-ok-sign'>&nbsp;Autorisations</a>
		</li>
		<li role="presentation">
			<a href="#group-det-5" aria-controls="group-det-5" role="tab" data-toggle="tab" class='glyphicon glyphicon-calendar'>&nbsp;Fréquentation</a>
		</li>
	</ul>
				
	<!-- Tab panes -->
	<div class="tab-content panel-content">
		<div role="tabpanel" class="tab-pane active" id="group-det-1">
			<child-features 
				[child]="child" 
				(onChildUpdated)="childUpdated($event)">
			</child-features>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group-det-2">
			<child-household
				[child]="child" 
				(onChildUpdated)="childUpdated($event)">
			</child-household>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group-det-3">
			<div class="filtered-content">
				Retenues
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group-det-4">
			<div class="filtered-content">
				Autorisations
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="group-det-5">
			<div class="filtered-content">
				Fréquentation
			</div>
		</div>
	</div>
</div>
