<div id="wrapper">

    <forge-navigation></forge-navigation>

    <div id="page-wrapper">

        <div class="container-fluid">


            <router-outlet></router-outlet>

            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
