<oib-alert>Este e o interior da alerta</oib-alert>

<child></child>

<!--
<oib-tabs areTabsExpandable='true' (onTabsExpanded)='forgeApp.onEvent("onTabsExpanded", $event)'>
  <oib-tab tabTitle='One' (onTabSelected)='forgeApp.onEvent("onTabSelected(one)", $event)'></oib-tab>
  <oib-tab tabTitle='Two' (onTabSelected)='forgeApp.onEvent("onTabSelected(two)", $event)'></oib-tab>
</oib-tabs>
-->
