<div>
    <span *ngIf='!model.nodeHidden'>
        <span *ngIf='hasChildren()'>
            <a href="#" *ngIf='isExpanded()' class='fa fa-minus-square-o' (click)='toggleExpansion()'></a>
            <a href="#" *ngIf='!isExpanded()' class='fa fa-plus-square-o' (click)='toggleExpansion()'></a>
        </span>
        <span *ngIf='!hasChildren()'>
            <span class='fa fa-circle-thin'></span>
        </span>

        <span>
            <a href='#' (click)='onClick()' [class.selected]='isSelected()' class='node'>
                {{model.text}}
            </a>
        </span>
    </span>
    <span *ngIf='model.isExpanded'>
        <div [class.child]='!model.nodeHidden'>
            <oib-model-treenode *ngFor='#child of model.children' [model]='child' [parentNode]='model'></oib-model-treenode>
        </div>
    </span>
</div>
