.form-name {
	margin-top: 0px;
	margin-left: 10px;
	vertical-align: middle;
}
.custom-button {
	text-decoration: none;
	padding: 4px 4px 4px 4px;
	border-style: outset;
	border-width: thin;
	text-align: center;
	vertical-align: middle;
}
