<div class='form-name'>
	<input #suggestions id="suggestions" type="text" style="width:20em;">
	<a href='#' (click)="search()" class='glyphicon glyphicon-search custom-button'></a>
	<a href='#' (click)="searchAdv()" class='glyphicon glyphicon-zoom-in custom-button'></a>
</div>
