<ul class="nav navbar-nav side-nav">
    <li> <a [routerLink]="['Children']"><i class="fa fa-fw fa-child"></i> Children</a> </li>
    <li> <a [routerLink]="['Parents']"><i class="fa fa-fw fa-users"></i> Parents</a> </li>
    <li> <a [routerLink]="['Sites']"><i class="fa fa-fw fa-bank"></i> Sites & groups</a> </li>
    <li> <a [routerLink]="['Favourites']"><i class="fa fa-fw fa-star"></i> Favourites</a> </li>
</ul>
