<div *ngIf='showHeader()' class='tab_header' (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <span>{{title}} </span>
    <span class='tab_expander' [hidden]='isExpanderHidden()'>
    <!-- <span class='tab_expander'> -->
        <a href='#' (click)='collapse()' class='fa fa-minus-square-o expander'> </a>
    </span>
</div>
<div [hidden]="!isActive()" class="tab_pane">
    <ng-content></ng-content>
</div>
