<div *ngIf='!areTabsExpanded' (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <ul class="nav nav-tabs">
        <li *ngFor="#tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
            <a href="#">{{tab.title}}</a>
        </li>
        <li *ngIf='areTabsExpandable'>
            <span [hidden]='isExpanderHidden()' class='expander'>
                <a href="#" (click)='onTabExpandToggle()' class='fa fa-plus-square-o expander'> </a>
            </span>
        </li>
    </ul>
</div>
<ng-content></ng-content>
