.tab_pane {
    padding: 1em;
    border: 1px;
    border-top: 0px;
    border-radius: 2px;
    border-color: #DDDDDD;
    border-style: solid;
}
.tab_header {
    border-bottom: solid 1px;
    border-color: #DDDDDD;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: large;
}
.expander {
    margin-right: 4px;
    font-size: xx-small;
    vertical-align: middle;
}
