<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cubes fa-fw"></i> <b>Services</b></h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a *ngFor='#call of _lastcalls' (click)='onCallClicked(call)' href="#" class="list-group-item">
                <span class="badge">{{call.time}}</span>
                <i class="fa fa-fw" [class.fa-arrows-h]='isInOut(call)' [class.fa-long-arrow-right]='isJustIn(call)' [class.fa-long-arrow-left]='isJustOut(call)'></i>
                {{call.target}}.{{call.method}}({{call.params}})
            </a>
        </div>
        <div class="text-right">
            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
