.panel-list { }

.panel-list .list-group {
	max-height: 600px;
	overflow: auto;
	/*margin: 10px 30px 25px 30px;*/
	font-size: 14px;
	font-weight: 200;
	color: #555;
}

.panel-list .group-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-left: 20px;
}

.panel-list a {
	display: flex;
}

.panel-list .group-name-job {
	display: flex;
	align-items: baseline;
}

.panel-list .avatar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.panel-list .fa-star {
	font-size: 20px;
	margin-right: 10px;
	color: #ddd;
}

.panel-list .fa-star.favourite {
	color: #FFC559;
}

.panel-list .job {
	margin-left: 5px;
	color: #337ab7;
	font-size: 14px;
}

.panel-list .birth-date {
	color: #999;
	font-size: 15px;
}

.panel-list .fa-birthday-cake {
	width: 20px;
}
