<div class="panel-list">
	<div class="list-group">
		<a class="list-group-item" *ngFor="#item of items" (click)="onItemSelected(item)">
			<div class="group-1">
				<div class="group-2">
					<div class="group-name-job">
						<div class="fullName">{{item.name}}</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
