<form class='container-fluid'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="child.name">
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" placeholder="Surname" [(ngModel)]="child.surname">
    </div>

    <div class="form-group">
      <label for="birth_date">Birth Date</label>
      <input type="date" class="form-control" id="birth_date" placeholder="Birth date" [(ngModel)]="child.birth_date">
    </div>

    <div class="form-group">
      <label for="school">School</label>
      <input type="text" class='form-control' id="school" [(ngModel)]="child.school">
        <!-- <p class="help-block">Blah, blah</p> -->
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="child.waiting"> Waiting?
        </label>
      </div>

    <div class="form-group">
      <label for="date_exit">Exit date</label>
      <input type="date" class='form-control' id="date_exit" [(ngModel)]="child.exit_date">
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
