.guardian-mock {
    margin: 8px;
    padding: 8px;

    color: #BBBBBB;
    /*background-color: #310706;*/
    border: 2px solid #886655;
}

.guardian-mock input {
    color: #BBBBBB;
    margin: 5px;
    margin-top: 15px;
    background-color: #BBBBBB;
}

.guardian-mock button {
    color: black;
    margin: 5px;
    background-color: #BBBBBB;
}
