<div class='guardian-mock'>
  <b>User: </b> {{_user.fullName}}
  <p>
  <b>Roles:</b>
  <ul>
    <li *ngFor="#role of _roles"> <a (click)='remove(role)' class='fa fa-times'></a> {{role}} </li>
  </ul>
  <form (submit)="add(role)">
    <input type='text' #role>
    <button type="submit">Add</button>
  </form>
</div>
