<div class="filtered-content">
	<div>
		<div class="group">
			<label>Nom:</label> 
			<input type="text" [(ngModel)]="child.lastName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Prénom:</label> 
			<input type="text" [(ngModel)]="child.firstName" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Sexe:</label> 	
			<select [(ngModel)]="child.gender" [disabled]="!isEditMode">
				<option value=""></option>
				<option value="M">M</option>
				<option value="F">F</option>
			</select>
		</div>
		<div class="group">
			<label>Per-Id:</label> 
			<input type="text" [(ngModel)]="child.perId" [disabled]="!isEditMode">
		</div>
	</div>
	<br />
	<div>
		<div class="group">
			<label>Date Naissance:</label>
			<div class='input-group date' id="datePicker2">
				<input #datePicker2 type='text' class="form-control" [(ngModel)]="child.birthDate" [disabled]="!isEditMode">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
		<div class="group">
			<label>École:</label> 
			<input type="text" [(ngModel)]="child.school" [disabled]="!isEditMode">
		</div>
		<div class="group">
			<label>Langues:</label> 
			<input type="text" [(ngModel)]="child.language" [disabled]="!isEditMode">
		</div>
	</div>
</div>
<br />
<div>
	<a href='#' (click)="edit()" class='glyphicon glyphicon-pencil custom-button' *ngIf="!isEditMode">&nbsp;Editer</a>
	<a href='#' (click)="delete()" class='glyphicon glyphicon glyphicon-trash custom-button' *ngIf="!isEditMode">&nbsp;Supprimer</a>
	<a href='#' (click)="save()" class='glyphicon glyphicon-ok custom-button' *ngIf="isEditMode">&nbsp;Sauvegarder</a>
	<a href='#' (click)="cancel()" class='glyphicon glyphicon-remove custom-button' *ngIf="isEditMode">&nbsp;Annuler</a>
</div>

<div id="dialog_confirm_1" title="Supprimer fiche?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Êtes-vous sûr de vouloir supprimer ce dossier?</p>
</div>