<div *ngIf="isParentDisplayed()">
	SHOW PARENT DETAILS HERE <b>{{item.name}}</b>
</div>
<div *ngIf="isChildDisplayed()">
	<detail-child 
		[child]="item"
		(onChildUpdated)="childUpdated($event)">
	</detail-child>
</div>
<div *ngIf="isTypesiteDisplayed()">
	SHOW TYPE SITE DETAILS HERE <b>{{item.name}}</b>
</div>
<div *ngIf="isSiteDisplayed()">
	SHOW SITE DETAILS HERE <b>{{item.name}}</b>
</div>
<div *ngIf="isGroupDisplayed()">
	SHOW GROUP DETAILS HERE <b>{{item.name}}</b>
</div>
<div *ngIf="isHouseholdDisplayed()">
	SHOW HOUSEHOLD DETAILS HERE <b>{{item.name}}</b>
</div>
