.cmp-container {
    background-color: #FFEEE8;
    border-color: #CC4444;
    border-style: ridge;
    border-width: 4px;
    border-radius: 7px;
    padding: 0px;
    margin-bottom: 10px;
}

.cmp-box {
    background-color: white;
    border-color: #BBBBBB;
    border-style: dotted;
    border-width: 2px;
    border-radius: 4px;
    padding: 10px;
    margin: 12px;
}
