<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-danger cmp-container">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-picture-o fa-fw"></i> <b>Component preview</b></h3>
            </div>
            <div class="panel-body cmp-box">
            <!-- Start of contained component -->

            <forge-contained-component></forge-contained-component>

            <!-- End of contained component -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <forge-outputs></forge-outputs>
    </div>
    <div class="col-lg-6">
        <forge-services [inputs] = 'inputs'></forge-services>
    </div>
</div>
