<div class="panel panel-danger cmp-container">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-picture-o fa-fw"></i> <b>Component preview</b></h3>
    </div>
    <div class="panel-body cmp-box">
    <!-- Start of contained component -->
    <h3>Services Page</h3>


    <!-- End of contained component -->
    </div>
</div>
