<div class="filter-type"> 
  <div *ngFor="#type of types">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="{{ type.id }}" value="option1" 
          [checked]="type.isActive"
          (click)="typeChanged(type)">
          
        <span class="type-label">{{ type.label }}</span>
      </label>
    </div>
  </div>
  
  <div class="form-group">
    <div class='input-group date' id="datePicker">
      <input #datePicker type='text' class="form-control"
        [disabled]="isDatePickerDisabled"
        (input)="dateChanged(datePicker.value)">
        
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>