<div class="filtered-container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#group1" aria-controls="group1" role="tab" data-toggle="tab" (click)="tabChanged(1)" class='glyphicon glyphicon-user'>&nbsp;Enfants</a>
		</li>
		
		<li role="presentation">
			<a href="#group2" aria-controls="group2" role="tab" data-toggle="tab" (click)="tabChanged(2)" class='glyphicon glyphicon-book'>&nbsp;Sites</a>
		</li>
		
		<li role="presentation">
			<a href="#group3" aria-controls="group3" role="tab" data-toggle="tab" (click)="tabChanged(3)" class='glyphicon glyphicon-home'>&nbsp;Ménages</a>
		</li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="group1">
			<div class="filtered-content">
				<panel-list [items]="childrenList" (onNodeSelected)="onChildSelected($event)"></panel-list>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="group2">
			<div class="filtered-content">
				<oib-treenode *ngFor='#typeSite of typeSitesList' object='typeSite' [text]='typeSite.name' (onNodeSelected)='onTypeSiteSelected(typeSite)'>
					<oib-treenode *ngFor='#site of typeSite.nodes' object='site' [text]='site.name' [isExpanded]='false' (onNodeSelected)='onSiteSelected(site)'>
						<oib-treenode *ngFor='#group of site.nodes' object='group' [text]='group.name' (onNodeSelected)='onGroupSelected(group)'>
						</oib-treenode>
					</oib-treenode>
				</oib-treenode>
			</div>
		</div>
		
		<div role="tabpanel" class="tab-pane" id="group3">
			<div class="filtered-content">
				<oib-treenode *ngFor='#household of householdsList' object='household' [text]='household.parentNames' (onNodeSelected)='onHouseholdSelected(household)'>
					<oib-treenode *ngFor='#person of household.nodes' object='person' [text]='person.name' (onNodeSelected)='onPersonSelected(person)'>
					</oib-treenode>
				</oib-treenode>
			</div>
		</div>
	</div>
</div>
