<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-up fa-fw"></i> <b>Outputs</b></h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Event name</th>
                        <th>Event value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#event of _lastevents'>
                        <td>{{event.time}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.event}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
