<span [ngSwitch]="isDefined()">
    <template [ngSwitchWhen]="false">
        <h3>Child not found</h3>
    </template>

    <div *ngIf='showComment'>
    This should only be shown when family is selected
    </div>

    <template ngSwitchDefault>
        <h1>Child: "{{child.name}}"</h1>
        <oib-tabs areTabsExpandable='true' (onTabsExpanded)='onTabsExpanded($event)' [areTabsExpanded]='areTabsExpanded'>
            <oib-tab tabTitle="Child data">
                <child-details [child]='child'></child-details>
            </oib-tab>
            <oib-tab tabTitle="Retenues">
                Retenues
            </oib-tab>
            <oib-tab tabTitle="Authorisations">
                Authorisations
            </oib-tab>
            <oib-tab tabTitle="Std. regime">
                Std. regime
            </oib-tab>
            <oib-tab tabTitle="Frequentation">
                Frequentation
            </oib-tab>
            <oib-tab tabTitle="Verification">
                Verification
            </oib-tab>
        </oib-tabs>
    </template>
</span>
